*{
    box-sizing:border-box;
    font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height:150%;
}
body {
    margin:0 auto;
    padding:0;
    background:url("../images/background.jpg") repeat;
}
